
XTerm.vt100.geometry: 87x27
XTerm.vt100.faceName: Hack:size=18
! XTerm.vt100.faceName: Hack:size=22
XTerm.vt100.cursorBlink: false
XTerm.vt100.boldColors: false

! XTerm.vt100.color8: 
! XTerm.vt100.color9:
! XTerm.vt100.color10: 
! XTerm.vt100.color11:
! XTerm.vt100.color12:
! XTerm.vt100.color13:
! XTerm.vt100.color14:
! XTerm.vt100.color15:

